.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Arial Narrow";
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.welcome-title {
   -fx-font-size: 22px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #818181;
   -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   -fx-padding: 100 0 30 0;
}

.error-info {
  -fx-font-size: 14px;
  -fx-font-weight: normal;
  -fx-font-style: oblique;
  -fx-text-fill:  #ff0000;
  -fx-effect: dropshadow(gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
  -fx-padding: 10 0 10 0;
}